<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/master.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/b0e030b725.js" crossorigin="anonymous"></script>
  <!-- bulma idk how to import-->
  <link rel="stylesheet" href="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/css/fontawesome.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Project</title>
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://brand.fiu.edu/_assets/images/fiu-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'api:home_page' %}">
          Home
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if user.is_authenticated %}
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="{{ user.get_absolute_url }}">
              My Profile
            </a>
          </p>
          <p class="control">
            <a class="button is-danger" href="{% url 'api:logout_page' %}">
              Logout
            </a>
          </p>
        </div>
        {% else %}
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="{% url 'api:signup_page' %}">
              Sign Up
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="{% url 'api:login_page' %}">
              Log in
            </a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
    </div>
  </nav>

  <div class="box is-full-desktop">
    {% block bodyblock %}
    {% endblock bodyblock %}
  </div>

</body>

</html>