{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block bodyblock %}
<script src="{% static 'js/index.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% if user.is_authenticated %}
<div class="container">
    <div id="main-feed" class="container">
        <div id="activity-feed-header">
            <div class="columns" id="header-columns">
                <div class="column is-3 has-text-centered">
                    <h3 class="title is-3">Suggested Accounts</h3>
                </div>
                <div class="column is-6 has-text-centered">
                    <h3 class="title is-3">Social Feed</h3>
                </div>
                <div class="column is-4 has-text-centered">
                    <h3 class="title is-3">Chat Messanger</h3>
                </div>
            </div>
        </div>
        <div id="activity-feed">
            <div class="columns">
                <div class="column is-3" id="left-side-bar">
                    {% if user.user_type == 0 %}
                    {% comment %} Show Athletes if scout {% endcomment %}
                    {% for athlete in user_list %}
                    {% if athlete.user_type == 1 %}
                    <!-- card for athletes -->
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                {% if athlete.profile_pic %}
                                <img class="profile-pic" src="{{ athlete.profile_pic.url }}" {% else %} <img
                                    class="profile-pic" src='https://via.placeholder.com/250'>
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        {% if athlete.profile_pic %}
                                        <img class="profile-pic" src="{{ athlete.profile_pic.url }}" {% else %} <img
                                            class="profile-pic" src='https://via.placeholder.com/250'>
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" style="color: black;"><a
                                            href="user/{{athlete.pk}}/">{{athlete.first_name }}
                                            {{athlete.last_name}}</a></p>
                                    <p class="subtitle is-6" style="color: black;">{{ athlete.username }}</p>
                                </div>
                            </div>

                            <div class="content">
                                Last Online:
                                <br>
                                <time datetime="2016-1-1">{{ athlete.last_login }}</time>
                            </div>
                        </div>
                    </div>
                    <br></br>
                    {% endif %}
                    {% empty %}
                    <p>No athletes found</p>
                    {% endfor %}

                    {% elif user.user_type == 1 %}
                    {% for scout in user_list %}
                    {% if scout.user_type == 0 %}
                    <!-- Cards for scouts -->
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                {% if scout.profile_pic %}
                                <img class="profile-pic" src="{{ scout.profile_pic.url }}" {% else %} <img
                                    class="profile-pic" src='https://via.placeholder.com/250'>
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        {% if scout.profile_pic %}
                                        <img class="profile-pic" src="{{ scout.profile_pic.url }}" {% else %} <img
                                            class="profile-pic" src='https://via.placeholder.com/250'>
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" style="color: black;"><a
                                            href="user/{{scout.pk}}/">{{scout.first_name }} {{scout.last_name }}</a></p>
                                    <p class="subtitle is-6" style="color: black;">{{ scout.username }}</p>
                                </div>
                            </div>

                            <div class="content">
                                Last Online:
                                <br>
                                <time datetime="2016-1-1">{{ scout.last_login }}</time>
                            </div>
                        </div>
                    </div>
                    <br></br>
                    {%endif%}
                    {% empty %}
                    <p>No scouts found</p>
                    {% endfor %}

                    {% endif %}
                    <br>
                </div>
                <div class="column is-6" id="social-feed-columns">
                    <!-- Search -->
                    <div class="box">
                        <div class="label">Search for user...</div>
                            <form method='POST' action="{% url 'api:search_results' %}">
                                {% csrf_token %}
                                <div class="searchBar">
                                    <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search"value=""></input>
                                    {% comment %} <input type="submit" value="Search" class="btn btn-primary"/> {% endcomment %}
                                    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                                        </svg>
                                    </button>
                            </form>
                        </div>
                    </div>                    
                    <!-- post section -->
                    <div class='container'>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" value="Post" class="btn btn-primary">
                        </form> 
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <textarea class="textarea is-info" placeholder="Write a post..."></textarea>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <div class="button is-rounded">Create Post</div>
                            </div>
                            <div class="card-footer-item">
                                <div class="button is-rounded">Add Media</div>
                            </div>
                            <div class="card-footer-item">
                                <div class="button is-rounded">...</div>
                            </div>
                        </footer>
                    </div>
                    <br>
                    <!-- generated posts -->
                    {% for post in posts %}
                    <div class="box message-preview">
                        <div class="top">
                            {% if post.author.profile_pic %}
                            <div class="avatar"><img src="{{ post.author.profile_pic.url }}"
                                    style="max-width: 50px; border-radius: 50%;">
                                </div>
                            {% else %}
                            <div class="avatar"><img src='https://via.placeholder.com/250'
                                style="max-width: 50px; border-radius: 50%;">
                            </div>
                            {% endif %}
                            <div class="address">
                                <div>{{post.author.first_name}} {{post.author.last_name}}</div>
                                <div>{{post.author}}</div>
                            </div>
                            <hr>
                            <div class="content">
                                <p>{{post.text}}</p><br>
                                <p>{{post.create_date}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    <div class="box follow-scroll" style = "position: fixed; width: 25%;">
                        <div class="message-head has-text-centered">
                            <div>
                                <div class="subtitle">Current users online</div>
                                <!-- <select class = "select is-active">
                                    {% for athlete in user_list %}
                                    <option value="{{ athlete.id }}">{{ athlete.first_name }}</option>
                                    {% endfor %}
                                </select> -->
                                <div class="select">
                                    <select>
                                        {% for user in user_list %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="message-body">
                            <div style="width: 100%;">
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">hello</span></p>
                                <p style="padding: 0.25em; text-align: right; overflow-wrap: normal;"><span
                                        class="tag is-medium is-info">hi!</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">do you want to chat?</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">do you want to chat?</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">do you want to chat?</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">hello</span></p>
                                <p style="padding: 0.25em; text-align: right; overflow-wrap: normal;"><span
                                        class="tag is-medium is-info">hi!</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">do you want to chat?</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">hello</span></p>
                                <p style="padding: 0.25em; text-align: right; overflow-wrap: normal;"><span
                                        class="tag is-medium is-info">hi!</span></p>
                                <p style="padding: 0.25em; text-align: left; overflow-wrap: normal;"><span
                                        class="tag is-medium is-success">do you want to chat?</span></p>
                            </div>
                        </div>
                        <div class="message-foot">
                            <div class="field has-addons">
                                <div class="control is-expanded"><input type="text" class="input" name="userInput"
                                        placeholder="Type your message"></div>
                                <div class="control"><button class="button is-info">Send</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            SportsHub
                        </h1>
                        <h2 class="subtitle is-4">
                            A site to help connect Athletes with Scouts
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-medium is-info is-outlined">
                                Learn more
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

</div>

{% endblock bodyblock %}