{% extends 'base.html' %}
{% load bootstrap5 %}
{% block bodyblock %}
{% load static %}
<script src="{% static 'js/post_delete.js'%}"></script>
<div class="modal" id="confirm">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete confirmation</p>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to delete this post?</p>
      <b></b>
      <div class="box">
        <div class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              {% if post.author.profile_pic %}
            <div class="avatar"><img src="{{ post.author.profile_pic.url }}"
                style="max-width: 50px; border-radius: 50%;">
            </div>
            {% else %}
            <div class="avatar"><img src='https://via.placeholder.com/250' style="max-width: 50px; border-radius: 50%;">
            </div>
            {% endif %}
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{post.author.first_name}} {{post.author.last_name}}</strong> <small>{{post.author}}</small>
                <small>{{post.create_date}}</small>
                <br>
                {{post.text}}
              </p>
            </div>
          </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="button is-danger" value="Delete Post">Delete Post</button>
      </form>
      <button name="" class="button" id="cancelDelete">Cancel</button>
    </footer>
  </div>
</div>

<h3 class="title has-text-centered">Delete this post?</h3>
<div class="columns is-centered">
  <div class="column" style="  padding-right: 500px; padding-left: 500px;">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          {% if post.author.profile_pic %}
        <div class="avatar"><img src="{{ post.author.profile_pic.url }}" style="max-width: 50px; border-radius: 50%;">
        </div>
        {% else %}
        <div class="avatar"><img src='https://via.placeholder.com/250' style="max-width: 50px; border-radius: 50%;">
        </div>
        {% endif %}
        </p>
      </figure>
      <div class="media-content box">
        <div class="content">
          <p>
            <strong>{{post.author.first_name}} {{post.author.last_name}}</strong> <small>{{post.author}}</small>
            <small>{{post.create_date}}</small>
            <br>
            {{post.text}}
          </p>
        </div><button class="button is-danger is-outlined" id="deletePostInitial">Delete Post</button>
      </div>
  </div>
  </article>
</div>

</div>
</div>

{% endblock bodyblock %}