{% extends 'base.html' %}
{% load bootstrap5 %}
{% load widget_tweaks %}

{% block bodyblock %}
{% load static %}
<script src="{% static 'js/signup.js' %}"></script>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet">
                    <form class="box" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% comment %} {% bootstrap_form form %} {% endcomment %}
                        {% comment %} <input type="submit" value="Sign Up" class="btn btn-primary"> {% endcomment %}
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">First Name</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <!-- <input class="input" type="text" placeholder="First Name" id = "id_first_name"> -->
                                        {% render_field form.first_name class+="input" placeholder="First Name"%}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Last Name</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <!-- <input class="input" type="text" placeholder="Last Name" id = "id_last_name"> -->
                                        {% render_field form.last_name class+="input" placeholder="Last Name"%}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Display Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <!-- <input class="input" type="text" placeholder="Username" id = "id_username" required> -->
                                {% render_field form.username class+="input" placeholder="Username"%}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email Address</label>
                            <div class="control has-icons-left has-icons-right">
                                <!-- <input class="input" type="email" placeholder="Email input" id = "id_email"> -->
                                {% render_field form.email class+="input" placeholder="Email Address"%}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <!-- <input class="input" type="password" placeholder="Password" id = "id_password1"> -->
                                {% render_field form.password1 class+="input" placeholder="Password"%}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <p class="help has-text-weight-bold">Your password must contain at least 8 characters.</p>
                            <p class="help has-text-weight-bold">Your password can't be too similar to your other
                                personal information.</p>
                            <p class="help has-text-weight-bold">Your password can't be a commonly used password.</p>
                            <p class="help has-text-weight-bold">Your password can't be entirely numeric.</p>
                        </div>

                        <div class="field">
                            <label class="label">Password confirmation</label>
                            <div class="control has-icons-left has-icons-right">
                                <!-- <input class="input" type="password" placeholder="Password" id = "id_password2"> -->
                                {% render_field form.password2 class+="input" placeholder="Password"%}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field", id='choice'>
                            <label class="label">Scout or Athlete?</label>
                            <div class="control">
                                <div class="select" id = "id_user_type">
                            {% render_field form.user_type class+="select"%}  
                                    <!-- <select>
                                        <option>Select dropdown</option>
                                        <option>Scout</option>
                                        <option>Athlete</option>
                                    </select> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="field" name='athleteInfo' style = "display:none;">
                            <label class="label">Height:</label>
                            <div class="control">
                                <div class="select">
                                    {% render_field form.height_ft class+="select"%}  
                                </div>
                                <div class="select">
                                    {% render_field form.height_in class+="select"%}  
                                </div>
                            </div>
                        </div>

                        <div class="field" name = "athleteInfo" style="display: none;">
                            <label class="label">Weight</label>
                            <div class="control">
                                {% render_field form.weight_lb class+="input"%}  
                            </div>
                          </div>
                        
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    I agree to the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" value="Sign Up" class="button is-link">Sign Up</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% comment %} Tried to use JS to hide choices {% endcomment %}
{% endblock bodyblock %}