{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
<script src="{% static 'js/user_detail.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<section class = "is-link container">
<div class='columns'>
    <div class='container profile'>
      <div class='modal' id='edit-profile-modal'>
        <div class='modal-background'></div>
        <div class='modal-card'>
          <header class='modal-card-head'>
            <p class='modal-card-title'>Edit Preferences</p>
            <button class='delete'></button>
          </header>
          <section class='modal-card-body'>
            <label class='label'>First Name</label>
            <p class='control'>
              <input class='input' placeholder='Text input' type='text'>
            </p>
            <label class='label'>Last Name</label>
            <p class='control'>
              <input class='input' placeholder='Text input' type='text'>
            </p>
            <b></b>
            <div class='control'>
              <div class='control-label is-pulled-left'>
                <label class='label'>Date of Birth</label>
              </div>
              <span>
                <span class='select'>
                  <select>
                    <option>Month</option>
                    <option>With options</option>
                  </select>
                </span>
                <span class='select'>
                  <select>
                    <option>Day</option>
                    <option>With options</option>
                  </select>
                </span>
                <span class='select'>
                  <select>
                    <option>Year</option>
                    <option>With options</option>
                  </select>
                </span>
              </span>
            </div>
            <label class='label'>Bio</label>
            <p class='control'>
              <textarea class='textarea' placeholder='Describe Yourself!'></textarea>
            </p>
            <div class='content'>
              <h1>Optional Information</h1>
            </div>
            <label class='label'>Height ft</label>
            <p class='control has-icon has-icon-right'>
              <input class='input' placeholder='Text input' type='text' value=''>
            </p>
            <label class='label'>Height in</label>
            <p class='control has-icon has-icon-right'>
              <input class='input' placeholder='Text input' type='text' value=''>
            </p>
            <label class='label'>Weight lb</label>
            <p class='control has-icon has-icon-right'>
              <input class='input' placeholder='Text input' type='text' value=''>
            </p>
            <label class='label'>School</label>
            <p class='control has-icon has-icon-right'>
              <input class='input' placeholder='Text input' type='text' value='George Mason University'>
            </p>
          </section>
          <footer class='modal-card-foot'>
            <a class='button is-primary modal-save'>Save changes</a>
            <a class='button modal-cancel'>Cancel</a>
          </footer>
        </div>
      </div>

      <div class="modal" id ="edit-profile-photo">
        <div class="modal-background"></div>
        <div class="modal-content">
          <p class="image is-4by3">
            {% if user_detail.profile_pic %}
            <img src="{{ user_detail.profile_pic.url }}" alt="not found">
          {% else %}
            <img src='https://via.placeholder.com/250' alt="not found">
          {% endif %}          </p>
        </div>
        <button class='delete'></button>
      </div>

      <div class='section profile-heading'>
        <div class='columns is-mobile is-multiline'>
          <div class='column is-2'>
            <span class='header-icon user-profile-image' id = "profilePhoto">
              {% comment %} <img alt='' src='https://via.placeholder.com/250'> {% endcomment %}
              {% if user_detail.profile_pic %}
                <img src="{{ user_detail.profile_pic.url }}" alt="not found">
              {% else %}
                <img src='https://via.placeholder.com/250' alt="not found">
              {% endif %}
            </span>
          </div>
          <div class='column is-4-tablet is-10-mobile name'>
            <p>
              <span class='title is-bold'>{{user_detail.first_name}} {{user_detail.last_name}}</span>
              <br>
              <span class='title-is-size-4'>@{{user_detail.username}}</span>
              <br>
              {% if user.pk == user_detail.pk %} <!-- Only user can change his own profile -->
                <a class='button is-primary is-outlined'  id='edit-profile' style='margin: 5px 0'>
                <a class='button is-primary is-outlined' href="{% url 'api:update_user_page' pk=user.pk %}" id='edit-profile' style='margin: 5px 0'>

                  Edit Profile
                </a>
                <br>
              {% endif %}
            </p>
            <p class='tagline'>
              {{ user_detail.bio }}
            </p>
          </div>
          <div class='column is-2-tablet is-4-mobile has-text-centered'>
            <p class='stat-val'>30</p>
            <p class='stat-key'>searches</p>
          </div>
          <div class='column is-2-tablet is-4-mobile has-text-centered'>
            <p class='stat-val'>10</p>
            <p class='stat-key'>likes</p>
          </div>
          <div class='column is-2-tablet is-4-mobile has-text-centered'>
            <p class='stat-val'>3</p>
            <p class='stat-key'>lists</p>
          </div>
        </div>
      </div>
      <div class='profile-options is-fullwidth is-white'>
        <div class='tabs is-fullwidth is-medium'>
          <ul>
            <li class='link'>
              <a>
                <span class='icon'>
                  <i class='fa fa-list'></i>
                </span>
                <span>My Lists</span>
              </a>
            </li>
            <li class='link is-active'>
              <a>
                <span class='icon'>
                  <i class='fa fa-thumbs-up'></i>
                </span>
                <span>My Likes</span>
              </a>
            </li>
            <li class='link'>
              <a>
                <span class='icon'>
                  <i class='fa fa-search'></i>
                </span>
                <span>My Searches</span>
              </a>
            </li>
            <li class='link'>
              <a>
                <span class='icon'>
                  <i class='fa fa-balance-scale'></i>
                </span>
                <span>Compare</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='columns is-mobile'>
        <div class='column is-3-tablet is-6-mobile'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#1</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3-tablet is-6-mobile'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#2</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#3</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#4</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
      </div>
      <div class='columns is-mobile'>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#5</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#6</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#7</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
        <div class='column is-3'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-4by3'>
                <img alt='' src='http://placehold.it/300x225'>
              </figure>
            </div>
            <div class='card-content'>
              <div class='content'>
                <span class='tag is-dark subtitle'>#8</span>
                <p>Personal Notes on the Property (can be edited and saved automatically by clicking in and clicking out of text area) - these are unique to the user - they will show up as part of a saved listings' info here - but adding notes to a property does not automatically create a saved listing. Likewise, removing this proeprty from saved listings does not auto remove the notes.</p>
              </div>
            </div>
            <footer class='card-footer'>
              <a class='card-footer-item'>Compare</a>
              <a class='card-footer-item'>Share</a>
              <a class='card-footer-item'>Delete</a>
            </footer>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock bodyblock %}